.arch_contact_us_duplicate * {
  font-family: Nunito, sans-serif;
}

.arch_contact_us_duplicate .responsive-container-block {
  height: 60px;
  width: 50%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}


.arch_contact_us_duplicate .responsive-container-block.container {
  justify-content: space-evenly;
  left: 1%;
}

.arch_contact_us_duplicate .text-blk.section-head {
  font-size: 60px;
  line-height: 65px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 24px;
  margin-left: 0px;
}

.arch_contact_us_duplicate .text-blk.section-subhead {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.arch_contact_us_duplicate .input {
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  height: 54px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding-top: 1px;
  padding-right: 16px;
  padding-bottom: 1px;
  padding-left: 16px;
  font-size: 16px;
}

.arch_contact_us_duplicate .textinput {
  width: 100%;
  height: 125px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 27px;
  margin-left: 0px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.arch_contact_us_duplicate .button {
  height: 50px;
  min-width: 240px;
  font-size: 16px;
  color: white;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
  background-color: #b0ab4d;
}


.arch_contact_us_duplicate .social-media-icon-container {
  display: flex;
  max-width: 400px;
  justify-content: space-evenly;
}

.arch_contact_us_duplicate .input-element {
  background-color: #e4e4dc;
}


.container {
  position: absolute;
  right: 8%;
  top: 1%;
}