*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
 }

 header {
   background-color: #333;
   color: #ffffff;
   padding: 1.2%;
 }
 
 nav .logo {
   font-size: 50px;
   font-weight: bold;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: italic;
 }
 


h1{
   margin: 0 0 15px 0;
   color: black;
   font-size: 28px;
   font-weight: 700;
   font-family: 'Poppins',sans-serif;
  text-transform: uppercase;
   letter-spacing: 1.2px;
 }
 .more{
    display: none;
 }
 .post{
    color: #000000;
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
    font-family: 'Work Sans',sans-serif;
 }
 .post img{
    width: 300px;
    height: 200px;
    border-radius: 5px 5px 0 0;
    


}
 .post:not(:last-child){
    margin-bottom: 30px;
 }
 button{
    margin-top: 15px;
    display: block;
    background-color: #e41d3f;
    color: white;
    border:none;
    outline: none;
    padding: 8px 20px;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 20px;
 }

 footer {
   background-color: #333;
   color: #fff;
   padding: 20px;
 }